.footer {
    background: linear-gradient(145deg,#173F5F 0,#20639B 96%);
    color: var(--clr-li);
    padding: 14vh 10vw 10vh 10vw;
    font-size: var(--fs-h3);
    color: var(--clr-light);
    position: relative;



    a {
        
        text-decoration: none;

    }

     

        &__navigation {
            display: flex;
            flex-direction: column;
            color: var(--clr-light);
            margin-bottom: 5rem;

            &-line {
                    height: 1px;
                    width: 200px;
                    background: rgb(166, 212, 243);
                    opacity: .9;
                    margin-top: 20px;
                    margin-bottom: 20px; 
            }

            &-items {
                display: flex;
                flex-direction: column;
                position: relative;
                align-self: flex-end;
                margin:0;
                margin-right: 5vw;

                @media (max-width:800px) { 
                    align-self: flex-start;
                }
                a {
                        margin: 0.4rem 0;
                        position: relative;
                        display: inline-block;
                        font-size: var(--fs-body);
                        color: rgb(255, 255, 255);
                        // text-decoration: none;
                        overflow: hidden;
                        span {
                          position: absolute;
                          top: 0;
                          left: 0;
                          overflow: hidden;
                          transform: translateX(-100%);
                          transition: transform 275ms ease;
                          &::before {
                            display: inline-block;
                            content: attr(data-content);
                            //color to be filled
                            color: #F6D55C;
                            transform: translateX(100%);
                            transition: transform 275ms ease;
            
                          }
                        }

                        &:hover span {
                          
                              transform: translateX(0);
                              &::before {
                                transform: translateX(0);
                              }
                            }
                          
            
                      }
                



            }

    }

    &__tag-line {
        display: flex;
        align-items: flex-start;

        h6 {
            margin:0;
            font-weight: 400;

            @media (max-width:800px) { 
                font-size: 3vw;
            }
        }
    }


    &__cta-wrapper {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        position: relative;

     
            &:hover {
                h1 span, .h1-footer-arrow span {
                  transform: translateX(0);
                  &::before {
                    transform: translateX(0);
                  }
                }
              }
        

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #F6D55C;
            transform-origin: bottom right;
            transition: transform 0.8s ease-out;
        }


        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;


        }


        .h1-footer-arrow {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            transform-style: preserve-3d;
            font-size: 8vw;
            color: rgb(255, 255, 255);
          }
        h1, .h1-footer-arrow{
            position: relative;
            display: inline-block;
            font-size: 8vw;
            color: rgb(255, 255, 255);
            // text-decoration: none;
            overflow: hidden;
            span {
              position: absolute;
              top: 0;
              left: 0;
              overflow: hidden;
              transform: translateX(-100%);
              transition: transform 275ms ease;
              &::before {
                display: inline-block;
                content: attr(data-content);
                //color to be filled
                color: #F6D55C;
                transform: translateX(100%);
                transition: transform 275ms ease;

              }
            }

          }


            @media (max-width:800px) { 
                font-size: 12vw;
            }

        }
    }

