.intro {
    position: relative;

    &__img {
        box-shadow: var(--bs);
        border-radius: 50px;
    }

    .section__subtitle--intro {
        display: inline-block;
    }

    @media (min-width: 800px){
        display: grid;
        width: min-content;
        max-width: 100%;
        margin:0 auto;
        padding: 4rem 5rem;
        grid-column-gap: 1.3em;
        grid-template-areas: 
            "img title"
            "img email"
            "img subtitle";
        grid-template-columns: min-content max-content;

        &__img {
            grid-area: img;
            min-width: calc(180px + 10vw);
            position: relative;
            z-index: 2;
        }



        .section__subtitle--intro {
            align-self: start;
            grid-column: -1 / 1;
            grid-row: 2;
            text-align: right;
            position: relative;
            left: -1.5em;
            width: calc(100% + 1.5em);
            
        }
    }



    
}



